.position-container{
    margin-top: 100px;
    margin-left: 100px;
}
.box{
    border: 2px solid black;
  border-radius: 12px;
  height: 450px;
  margin-right: 14px;
}

.calcul{
  margin-top: 40px;
  margin-left: 100px;
}

.button1{
    width: 40px;
    height: auto;
}











































































.form{
  width: max-content;
}

.label-input label,input{
  display: block;
}

.label-input{
  margin-bottom: 20px;
  margin-top: 20px;
}

.title{
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 10px;
  font-size: 28px;
  font-family: cursive;
  color: brown;
  text-shadow: 1px 1px 1px black;
}

.label-input label{
  background-color: rgb(250, 249, 249);
  size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.label-input input{
  border-radius: 15px;
  outline: none;
  padding-left: 3px;
}

.button-position{
  margin-left: 70px;
  margin-top: 80px;
}